

{% extends "index.html" %}
{% block content %}  
  <div class="row justify-content-center">
    <h1 class="d-flex justify-content-center mb-4">User Password Reset Notification</h1>
    <div class="col-4">
      <form action="reset" method="POST" class="d-grid" >
          <input type="email" id="reset"  class="form-control" name="user_mail" placeholder="enter user mail to reset Password" aria-describedby="emailHelp" required>
          <div id="emailHelp" class="form-text mb-2">Password reset mail will be send to the given email that is registred </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row justify-content-center">
    <h1 class="d-flex justify-content-center mb-4">Poll Allow Public </h1>
    <div class="col-4">
      <form action="poll" method="POST" class="d-grid" >
          <!-- <input type="text" class="form-control" name="userid" required placeholder="enter User id"> -->
          <input type="text" class="form-control" name="pollid" required placeholder="enter Poll id">
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row justify-content-center">
    <h1 class="d-flex justify-content-center mb-4">survey heading</h1>
    <div class="col-4">
      <form action="survey" method="POST" class="d-grid" >
          <input type="text" class="form-control" name="surveyid" required placeholder="enter survey id">
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <form action="">
<input type="text" value="{{appid}}">

  </form>
  
{%  endblock %}
