<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-info mb-5">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">CSR Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navtog">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navtog">
          <div class="navbar-nav">
            <a class="nav-link ms-3" href="/about/">About</a>
            <a class="nav-link ms-3" href="/reports_funnel_summary/">Reports Funnel Summary</a>
            <a class="nav-link ms-3" href="/dashboard_csr/">Dashboard CSR</a>
          </div>
        </div>
      </div>
    </nav>

    <!-- <h1>Index: {{ title }}</h1>
    <hr>
    <p>Code: {{ code }}</p>
    <p></p>

     -->
    <!-- <p><a href="/">Home</a> | <a href="/about/">About</a>  | <a href="/reports_funnel_summary/">reports_funnel_summary</a>  | <a href="/dashboard_csr/">Dashboard CSR</a> </p> -->

  {%  block content %}




  {%  endblock %}
</div>
  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>
